

#wrapper{
display: grid;
margin: auto;
background-color: #c3ae9c;
grid-template-rows: 5fr 3fr 3fr ; 
gap: 25px;
grid-template-areas:
'hd hd hd hd'
'nv nv sc sc'
'ai ai ft ft';
min-height:95vh;

}

#wrapper_index2 {
display: grid;
grid-template-rows: 1fr 3fr;
grid-template-areas: 
'hd hd'
's s'
;
}


#wrapper_index3 {
    display: grid;
    background-color: #c3ae9c;
    grid-template-rows: 4fr 1fr 2fr 2fr; 
    grid-template-areas:
    'hd hd hd hd'
    'nv nv nv nv'
    'sc sc sc sc'
    'ai ai . ft';
    min-height:95vh;

}

#hd1 {
    background-image: url("../img/background_webb.jpg");
    background-size: cover;
   grid-area: hd; 
   font-size: 40px;
   text-shadow: 5px 5px 5px #000000;
   color: rgb(255, 255, 255);
   display: flex;
   justify-content: center;
   align-items: center;
   font-family:Georgia, 'Times New Roman', Times, serif;
   border: solid black 2px;
}

header img{
    width: 80px;
}

#nv1 {
    
    grid-area: nv;
    margin-left: 20px;
    font-size: medium;
    font-family: monospace;
    display: flex;
    justify-content: space-around;
    border: solid black 2px;
    border-radius: 20px;
    padding-left: 10px;

}

#sec11 {
    grid-area: sc;
    background-image: url("../img/bild1_webb.jpg");
    background-size: cover;
    margin-right: 20px;
    display: flex;
    justify-content: space-around;
    border: solid black 2px;
    border-radius: 20px;
}

#ai1 {
    grid-area: ai;
    background-image: url("../img/bild2menu_webb.jpg");
    background-size: cover;
    margin-left: 20px;
    margin-bottom: 15px;
    font-size: 20px;
    font-family: monospace;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 5px #000000;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family:Georgia, 'Times New Roman', Times, serif;
    justify-content: space-around;
    border: solid black 2px;
    border-radius: 20px;
    
}

#ai1 p a {
text-decoration: none;
color: rgb(255, 255, 255);
}


#ft1 {
    grid-area: ft;
    margin-right: 20px;
    margin-bottom: 15px;
    font-size: medium;
    font-family: monospace;
    display: flex;
    justify-content: space-around;
    border: solid black 2px;
    border-radius: 20px;
    padding: 10px;
}


#hed2{
    grid-area: hd;
    background-color: #151515;
    display: flex;
    font-size: 40px;
   color: rgb(255, 255, 255);
   justify-content: center;
   align-items: center;
   font-family:Georgia, 'Times New Roman', Times, serif;
   border: solid black 2px;
    
}
#sectionmenu{
    grid-area: s;
    background-color: #c3ae9c;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

#sectionmenu section{
    width: 40%;
    height: 400px;
    border: black 2px solid;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#div1 img {
    position: absolute;
    left: 0;
    top: 0;
    margin: 25px;
}
#sec21 p {
    font-family: monospace;
    font-size: 15px;
    margin: 1px 20px 10px;
}

#sec21 h2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
     display: flex;
    justify-content: end;
    margin: 1px 20px 10px;

}

#sec21 img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    border-bottom: black 2px solid;
}

#sec22 p {
    font-family: monospace;
    font-size: 15px;
    margin: 1px 20px 10px;
}

#sec22 h2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
     display: flex;
    justify-content: end;
    margin: 1px 20px 10px;
}

#sec22 img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    border-bottom: black 2px solid; 
}

#sec23 p{
    font-family: monospace;
    font-size: 15px;
    margin: 1px 20px 10px;
}

#sec23 h2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
     display: flex;
    justify-content: end;
    margin: 1px 20px 10px;
}

#sec23 h2 a {
    text-decoration: none;
color: rgb(0, 0, 0);
}

#sec23 img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    border-bottom: black 2px solid; 
}

#sec24 p {
    font-family: monospace;
    font-size: 15px;
    margin: 1px 20px 10px;
}

#sec24 h2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
     display: flex;
    justify-content: end;
    margin: 1px 20px 10px;
}

#sec24 img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    border-bottom: black 2px solid; 
}

#hd3{
    background-image: url("../img/bildsushi_webb.jpg");
    background-size: cover;
   grid-area: hd; 
   font-size: 40px;
   color: rgb(255, 255, 255);
   text-shadow: 5px 5px 5px #0f3b5f;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family:Georgia, 'Times New Roman', Times, serif;
}

#div2 img {
    position: absolute;
    left: 0;
    top: 0;
    margin: 25px;
}

#nv3{
    grid-area: nv;
    font-size: 20px;
    font-family: monospace;
    display: flex;
    justify-content: center;
    border-bottom: solid black 1px;
    align-items: center;
    
}

#sec31{
    grid-area: sc;
    background-size: cover;
    margin-right: 20px;
    display: flex;
    font-size: 25px;
    font-family: monospace;
    margin-left: 50px;
    margin-left: 30px;
    margin-top: 30px;
    display: grid;
    justify-self: flex-start;
}

#ai3{
    grid-area: ai;
    background-size: cover;
    margin-left: 20px;
    margin-bottom: 15px;
    font-size: 20px;
    font-family: monospace;
   display: flex;
    margin-left: 30px;
    border-left: solid black 1px;
    display: grid;
    align-self: start;
    justify-self: start;
    border-top: solid black 1px;

}

#ft3{
    grid-area: ft;
    margin-right: px;
    margin-bottom: 50px;
    font-size: 30px;
    font-family: monospace;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    border: solid black 2px;
    border-radius: 20px;
    background-color: #151515;
    color: rgb(255, 255, 255);
    height: 100px;
}